.App.App {
  background-color: #0E1558;
  min-height: 100vh;
}

h1{
  margin:0;
  color: white;
  font-size: 60px;
  text-align: center;
}

.pixeled_txt {font-family: 'Daydream' !important;}

.homeContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  gap: 40px;
}

.wallet-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  background-color: #000000a1;
  border: 5px gray solid;
  padding: 50px;
  border-radius: 60px;
  width: 300px;
  height: 200px;
}

.wallet-client h4 {font-family: 'Daydream'; letter-spacing: 1px;}
.pixeled_txt {font-family: 'Daydream' !important;}

.App button {
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
  border: 0;
  color: white;
  padding: 20px 40px;
}
.App button:hover {
  background-color: gray;
  cursor: pointer;
}
.App button:disabled {
  background-color: rgb(130, 130, 130);
  cursor:not-allowed;
}

.modulesContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.container{
  padding:30px 40px;
  background-color: rgba(0,0,0,.4);
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter:blur(6px);
}

.grid { display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 40px; grid-row-gap: 40px; padding: 70px 0;  }
.row_gap_20 { grid-row-gap: 20px;}

.inner {
  max-width: 1240px; margin: auto; position: relative; align-content: center;
}
​
.long_gap { grid-column-gap: 110px; }
​
.col_1{ grid-column: span 1; }
.col_2{ grid-column: span 2; }
.col_3{ grid-column: span 3; }
.col_4{ grid-column: span 4; }
.col_5{ grid-column: span 5; }
.col_6{ grid-column: span 6; }
.col_7{ grid-column: span 7; }
.col_8{ grid-column: span 8; }
.col_9{ grid-column: span 9; }
.col_10{ grid-column: span 10; }
.col_11{ grid-column: span 11; }
.col_12{ grid-column: span 12; }
​
.grid_5_col { display: grid; grid-template-columns: repeat(5, 1fr); }

@media screen and (max-width: 1200px) {
	
.grid { grid-column-gap: 30px;}
​
.col_in_1{ grid-column: span 1; }
.col_in_2{ grid-column: span 2; }
.col_in_3{ grid-column: span 3; }
.col_in_4{ grid-column: span 4; }
.col_in_5{ grid-column: span 5; }
.col_in_6{ grid-column: span 6; }
.col_in_7{ grid-column: span 7; }
.col_in_8{ grid-column: span 8; }
.col_in_9{ grid-column: span 9; }
.col_in_10{ grid-column: span 10; }
.col_in_11{ grid-column: span 11; }
.col_in_12{ grid-column: span 12; }
​
.long_gap { grid-column-gap: 40px; }	
	
}

.pixeled_txt {font-family: 'Daydream' !important;}
.pixeled_txt_title {text-shadow: 8px 7px black;}

.item_container{
  border: 1px solid #000;
    margin: 50px 0;
  background-color: #00000070;
  border: 5px #343434db solid;
  padding: 40px;
  border-radius: 60px;
}

.faq-title{font-family: 'Daydream' !important;}
.faq-title h2{color: white  !important; font-size: 40px!important; word-spacing: 0.4em !important; padding-bottom: 25px;}
.styles_faq-row-wrapper__3vA1D {background-color: #00000000 !important; color: white !important;}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY {
  color: white !important;
  font-weight: bold;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB{
  color: white !important;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_icon-wrapper__2cftw svg {
  fill: white !important;
}

.nav_wrapper{
  align-items: center;
  position: sticky !important;
  background-color: rgba(0,0,0,.4);
  backdrop-filter:blur(6px);
  z-index: 1;
  top: 0;
}

.inner_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_header {
  align-self: center;
  flex: 4;
  text-align: right;
}

.nav_header ul {
  display: flex;
  justify-content: flex-end;
}

.nav_header ul li {
  margin: 0 22px;
  font-size: 18px;
  font-weight: 400;
  padding: 34px 0;
  list-style: none;
  color: #fff;
}